@import "variable.module.scss";
@import "mixins";

.header {
  width: 100%;
  height: 70px;
  padding: 0px 40px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  background-color: $color-primary;
  .signIn {
    width: 90px;
    height: 36px;
    background-color: transparent;
    border: 2px solid $white;
    border-radius: 10px;
    color: $white;
    font-size: 17px;
    cursor: pointer;
  }
  .logined {
    display: none !important;
  }
  .signUp {
    width: 90px;
    height: 36px;
    background-color: $white;
    border: 2px solid $white;
    border-radius: 10px;
    color: $color-primary;
    font-size: 17px;
    cursor: pointer;
  }
  .loginText {
    font-size: 24px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: $white;
  }
  .hamburgerParent {
    display: none;
  }
  .drawer {
    padding: 16px;
    display: flex;
    flex-direction: column;
    .iconDiv {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .crossIcon {
        font-size: 45px;
        display: flex;
        color: $color-primary;
      }
    }
    .leftNavigation {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 26px;
      border-radius: 6px;
      margin-top: 40px;
      .tab {
        height: 58px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
        border-radius: 10px;
        background-color: $white;
        padding: 0px 16px;
        border: none;
        cursor: pointer;

        &:hover,
        &.selected {
          background-color: $color-primary;

          > :first-child {
            fill: $white;
          }

          > :last-child {
            color: $white;
          }
        }

        > :first-child {
          font-size: 30px;
          fill: $lightBlack;
        }

        > :last-child {
          font-size: 18px;
          font-family: "Inter", sans-serif;
          font-weight: 500;
          color: $lightBlack;
          text-transform: capitalize;
        }
      }
    }
  }
}

// media qurries

@include desktop() {
  .hamburgerParent {
    display: block !important;
  }
  .signIn {
    display: none !important;
  }
  .signUp {
    display: none !important;
  }
  .drawer {
    width: 70% !important;
    .mobileSignIn {
      width: 110px;
      height: 45px;
      background-color: $color-primary;
      border-radius: 8px;
      border: none;
      font-size: 20px;
      font-weight: 500;
      color: $white;
    }
    .mobileSignUp {
      width: 110px;
      height: 45px;
      background-color: transparent;
      color: $color-primary;
      font-weight: 500;
      border-radius: 8px;
      border: 2px solid $color-primary;
      font-size: 20px;
    }
  }
}

@include desktop() {
  .loginText {
    display: none;
  }
  .mobileLoginText {
    font-size: 24px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: $color-primary;
  }
}
@include mobile() {
  .header {
    padding: 0px 16px;
  }
  .drawer {
    width: 100% !important;
  }
}
